<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="CUST-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="PATTERNED_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.springboot.logging.demo.layouts.PatternedConsoleLayout">
        <prefix>PRE_DEMO</prefix>
        <suffix>POST_DEMO</suffix>
        <pattern>%d{yyyy-MM-dd} %yellow([%thread]) %highlight(%-5level) %logger{36} - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>

  <property resource="application.yaml"/>
  <property resource="application-local.yaml"/>


  <springProperty scope="context" name="rootLoggingLevel" source="logging.level.root"/>
  <springProperty scope="context" name="controllerLoggingLevel" source="logging.level.com.springboot.logging.demo.controllers"/>


  <root level="${rootLoggingLevel}">
    <appender-ref ref="CUST-CONSOLE"/>
  </root>

<!--
  <logger name="com.springboot.logging.demo.controllers" level="${controllerLoggingLevel}" additivity="false">
    <appender-ref ref="CUST_CONSOLE"/>
  </logger>
-->

<springProfile name="local">
  <logger name="com.springboot.logging.demo.controllers" level="${controllerLoggingLevel}" additivity="false">
    <appender-ref ref="PATTERNED_CONSOLE"/>
  </logger>
</springProfile>

<springProfile name="dev">
  <logger name="com.springboot.logging.demo.controllers" level="${controllerLoggingLevel}" additivity="false">
    <appender-ref ref="PATTERNED_CONSOLE"/>
  </logger>
</springProfile>

</configuration>